name: mlops

on:
  push:
    paths:
      - 'data/**'
      - 'src/**'

jobs:
  train:

    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: actions/checkout@v3

    - name: install
      run: |
        pip install -r requirements.txt

    - name: drift check
      run: python src/drift.py

    - name: retrain if drift
      if: failure()
      run: python src/train.py

    - name: docker build
      run: docker build -t mlops-iris .